.noFoundPage {
  height: 65vh;

  .centered {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: auto;

    .left {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include media-max($bp-sm) {
        gap: 15px;
      }

      @include media-max($bp-xs) {
        align-items: center;
      }

      .error404 {
        width: 80%;
        max-width: 600px;
        margin: auto;
      }

      a {
        max-width: 250px;
      }

      p {
        @include media-max($bp-xs) {
          text-align: center;
        }
      }
    }

    .bulb {
      position: absolute;
      flex-direction: column;
      right: -170px;
      bottom: -40px;
      @include media-max($bp-sm) {
        right: -60px;
        bottom: 10px;
      }
      @include media-max($bp-xs) {
        display: none;
      }

      .bulbIcon {
        @include media-max($bp-sm) {
          width: 150px;
          height: 150px;
        }
      }
      .shadow {
        position: relative;
        top: -60px;
        @include media-max($bp-sm) {
          top: -30px;
          max-width: 150px;
        }
      }
    }
  }
}
