.actionsPage {
  padding: 60px 0;
  @include media-max($bp-xs) {
    padding: 10px 0;
  }
  .container {
    h1 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .cards {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      @include media-max($bp-xl) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
      @include media-max($bp-lg) {
        grid-gap: 20px;
      }
      @include media-max($bp-md) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include media-max($bp-sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
      @include media-max($bp-xs) {
        grid-template-columns: 100%;
        margin-top: 20px;
      }
      .card {
        .img {
          height: fit-content;
          position: relative;
          text-align: center;

          img {
            margin: 0 auto;
            width: auto !important;
            border-radius: $border-radius;
            overflow: hidden;
            @include media-max($bp-sm) {
              width: 100% !important;
              height: auto;
            }
          }
        }
        p {
          font-weight: 600;
          font-size: 18px;
          text-align: center;
          margin-top: 10px;
          @include media-max($bp-xs) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
