.homePage {
  .heroBanner {
    overflow: hidden;
    border-radius: $border-radius;

    .slideItemBanner {
      display: block;
      height: 500px;
      position: relative;
      @include media-max($bp-xs) {
        height: 370px;
        width: 100%;
        object-fit: cover;
      }
    }
    .swiper-pagination {
      @include media-max($bp-md) {
        display: none;
      }
      .swiper-pagination-bullet {
        width: 60px;
        height: 8px;
        border-radius: $border-radius;
        background: rgba($color: $color-white, $alpha: 0.7);
        &.swiper-pagination-bullet-active {
          background: $color-white;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $color-white;
      width: 30px;
      height: 30px;
      &::after {
        font-size: 100%;
      }
      @include media-max($bp-md) {
        display: none;
      }
    }
  }

  .cardsGroup {
    display: flex;
    row-gap: 10px;
    //flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
    grid-gap: 30px;
    border: 1px solid white;
    padding: 5px;
    @include media-max($bp-xxl) {
      grid-gap: 15px;
    }
    @include media-max($bp-md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    @include media-max($bp-sm) {
      grid-gap: 5px;
      margin: 15px 0;
      flex-wrap: wrap;
    }
    .card {
      display: flex;
      align-items: center;
      background: $color-white;
      border-radius: $border-radius;
      padding: 10px;
      @include media-max($bp-xxl) {
        padding: 10px;
      }
      @include media-max($bp-xl) {
        padding: 10px;
      }
      @include media-max($bp-sm) {
        padding: 5px 10px;
      }
      .svgContainer {
        background-color: $color-light;
        border-radius: $border-radius;
        margin-right: 35px;
        @include media-max($bp-sm) {
          margin-right: 15px;
        }
      }
      svg {
        margin: 30px;
        @include media-max($bp-xl) {
          width: 50px;
          height: 50px;
        }
        @include media-max($bp-lg) {
          width: 35px;
          height: 35px;
        }
        @include media-max($bp-md) {
          width: 40px;
          height: 40px;
        }
        @include media-max($bp-sm) {
          margin: 10px 20px;
          height: 25px;
          width: 25px;
        }
      }
      .text {
        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          @include media-max($bp-xl) {
            font-size: 16px;
          }
          @include media-max($bp-lg) {
            font-size: 14px;
            line-height: 20px;
          }
          @include media-max($bp-md) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: $color-text-secondary;
          @include media-max($bp-lg) {
            font-size: 12px;
          }
          @include media-max($bp-md) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .bannerAmdIntel {
    position: relative;
    @include flexCenterBetween;
    height: 240px;
    width: 100%;
    margin-bottom: 40px;

    .bannerAmd {
      position: relative;
      background-image: url("../../public/assets/images/Banner3.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $border-radius;
      width: 49%;
      height: 100%;

      button {
        position: absolute;
        right: 25px;
        bottom: 25px;
        padding: 15px 20px;
        border-radius: 25px;
        background-color: #e12c39;
        color: white;
        font-size: 15px;
      }
    }
    .bannerIntel {
      background-image: url("../../public/assets/images/Banner4.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $border-radius;
      width: 49%;
      height: 100%;
      button {
        position: absolute;
        right: 25px;
        bottom: 25px;
        padding: 15px 20px;
        border-radius: 25px;
        background-color: #00abeb;
        color: white;
        font-size: 15px;
      }
    }
  }

  .bannersSlider {
    position: relative;
    margin-bottom: 50px;
    border-radius: $border-radius;
    overflow: hidden;
    .bannerItem {
      position: relative;
      display: block;
      height: 240px;
      width: 100%;
      // .mobileBanner {
      //   height: 370px;
      //   width: 370px;
      //   object-fit: cover;
      // }
      @include media-max($bp-sm) {
        height: 370px;
        width: 100%;
        object-fit: cover;
      }
    }
    // .bannerItem img {
    //   @include media-max($bp-xs) {
    //     .bannerItem img {
    //       height: 100%;
    //       object-fit: contain;
    //     }
    //   }
    // }
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
  }

  .categoriesBlock {
    padding: 40px;
    margin: 60px 0;
    @include media-max($bp-sm) {
      padding: 40px 10px;
      margin: 30px 0;
    }
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .sliderWrap {
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: auto !important;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          margin-top: 15px;
          @include media-max($bp-sm) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .productsSpecialTop {
    @include flexCenterBetween;
    @include media-max($bp-sm) {
      h3 {
        display: none;
      }
    }
    a {
      color: $color-black;
      font-weight: 500;
    }
  }

  .productsSpecial {
    @include flexAlign;
    background-color: $color-white;
    border-radius: 15px;
    margin: 30px 0;
    width: 100%;
    gap: 10px;

    @include media-max($bp-xxl) {
      gap: 10px;
    }
    @include media-max($bp-lg) {
      gap: 0;
    }
    @include media-max($bp-sm) {
      gap: 10px;
      flex-wrap: wrap;
    }

    .image {
      a {
        height: 100%;
      }

      img {
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;

        border-radius: 15px;
        overflow: hidden;

        @include media-max($bp-sm) {
          height: 370px;
          width: 100%;
        }
      }
    }
    .products {
      @include flexCenterBetween;

      height: 100%;
      margin: 0 auto;

      gap: 40px;
      @include media-max($bp-xxl) {
        gap: 10px;
      }
      @include media-max($bp-xl) {
        gap: 5px;
      }
    }
  }

  .servisNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    @include media-max($bp-sm) {
      display: flex;
      column-gap: 20px;
      row-gap: 20px;
      flex-wrap: wrap;
    }

    margin: 50px 0;

    .servis {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background: $color-white;
      border-radius: $border-radius;
      align-items: center;
      @include media-max($bp-sm) {
        display: block;
        text-align: center;
      }

      .left {
        margin: 20px;
        @include media-max($bp-sm) {
          margin: 0;
        }
        .servisImage {
          margin: auto 0;
          img {
            width: 100%;
            height: auto !important;
            border-radius: $border-radius;
            overflow: hidden;
          }
        }
      }
      .right {
        margin: 20px;
        @include media-max($bp-sm) {
          display: block;
        }
        .text {
          margin-top: 20px;
          h2 {
            margin-bottom: 20px;
          }
          p {
            color: $color-text-secondary;
            font-weight: 400;
            @include media-max($bp-sm) {
              br {
                display: none;
              }
            }
          }
        }
        .servisLink {
          margin-top: 20px;
          background: $color-light;
          border-radius: 25px;
          padding: 10px 32px;
          display: inline-block;
          a {
            font-weight: bold;
          }
        }
      }
    }

    .newsletter {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background: $color-white;
      border-radius: $border-radius;
      align-items: center;

      @include media-max($bp-sm) {
        display: block;
        text-align: center;
        width: 100%;
      }
      .left {
        background-color: $color-light;

        margin: 0 20px;
        padding: 40px 20px;
        border-radius: $border-radius;
        @include media-max($bp-lg) {
          //margin: 40px 20px;
        }
        @include media-max($bp-sm) {
          margin: 10px;
        }
        .iconContainer {
          display: flex;
          align-items: center;
          height: 100%;
          border-radius: $border-radius;
          @include media-max($bp-sm) {
          }
          svg {
            display: block;
            margin: 0 auto;
          }
        }
      }
      .right {
        margin: 0 20px;
        .text {
          margin-top: 20px;
          h2 {
            margin-bottom: 20px;
          }
          p {
            color: $color-text-secondary;
            font-weight: 400;
          }
        }
        form {
          margin-top: 20px;
          background: $color-light;
          border-radius: 25px;
          margin-right: 10px;
          @include flexCenterBetween;
          @include media-max($bp-sm) {
            margin-bottom: 20px;
          }
          @include media-max($bp-sm) {
            input {
              padding: 0;
              padding-left: 15px;
            }
          }

          button {
            background-color: $color-black;
            color: $color-white;
            white-space: nowrap;
            margin: 5px;
            @include media-max($bp-sm) {
              padding: 5px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
