.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: $border-radius;
  display: grid;
  grid-template-rows: 1fr 160px;
  background-color: white;
  .top {
    position: relative;
    .heartIcon {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 1;
      width: 24px;
      height: 24px;
      path {
        fill: $color-text-secondary;
      }
    }
    .sticker {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    .photo {
      height: 190px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 30px 10px 30px;
      @include flexCenter;

      img{
        height: auto!important;
      }
    }
    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      word-break: break-all;
      height: 40px;
      margin: 0 0 5px 0;
    }
  }
  .bottom {
    position: relative;
    .badgeHolder {
      height: 30px;
      .badge {
        font-size: 10px;
      }
    }
    .specs {
      height: 115px;
      margin: 0 10px 30px 20px;
      li {
        font-size: 14px;
        list-style: disc;
      }
    }
    .prices {
      margin: 5px 0 20px 0;
      p {
        font-size: 18px;
        line-height: 20px;
        color: $color-text-secondary;
        text-decoration: line-through;
      }
      h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
      }
      .saving {
        text-decoration: none;
        color: red;
        font-weight: 500;
      }
    }
    button {
      width: 100%;
      svg {
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}
