.sectionContainer {
  @include flexCenterBetween;
  @include media-max($bp-sm) {
    display: flex;
  }
  .sectionLeft {
    @include flexCenterBetween;
    @include media-max($bp-sm) {
      display: block;
    }
    a {
      padding: 0;
      margin-left: 20px;
      padding-left: 20px;
      font-weight: 100;
      color: rgba(0, 0, 0, 0.4);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      @include media-max($bp-sm) {
        border-left: 0;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }
}
.productsSlider {
  padding: 40px;
  margin: 60px 0;
  &.active {
    background: $color-secondary;
    .sectionTitle {
      color: $color-white;
    }
  }
  @include media-max($bp-md) {
    padding: 20px;
    margin: 30px 0;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}
